html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

circle {
  stroke-width: 2;
  stroke: #000;
  fill: #fff;
}

line {
  stroke-width: 3;
  stroke: #000;
}

rect {
  stroke-width: 3;
  stroke: #000;
  fill: #fff;
}